<!DOCTYPE html>
    <head></head>
    <body>
        <audio src="/static/horse.ogg" controls>
        <embed src="/static/helloworld.swf">
        <img src="/static/smiley.gif" alt="Smiley face">
        <input type="image" src="/static/submit.gif" alt="Submit">
        <script src="/static/myscripts.js"></script>
        <audio controls>
          <source src="/static/horse.ogg" type="audio/ogg">
        </audio>
        <video width="320" height="240" controls>
          <source src="/static/forrest_gump.mp4" type="video/mp4">
        </video>
        <video src="/static/movie.ogg" controls></video>
        <link rel="stylesheet" type="text/css" href="/static/theme.css"> 
    </body>
</html>
